<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>intecs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchasedHistorylistServlet</display-name>
    <servlet-name>PurchasedHistorylistServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.PurchasedHistorylistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasedHistorylistServlet</servlet-name>
    <url-pattern>/PurchasedHistorylistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartInsertServlet</display-name>
    <servlet-name>CartInsertServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.CartInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartInsertServlet</servlet-name>
    <url-pattern>/CartInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaxServlet</display-name>
    <servlet-name>TaxServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.TaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaxServlet</servlet-name>
    <url-pattern>/TaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupInsertServlet</display-name>
    <servlet-name>signupInsertServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.signupInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupInsertServlet</servlet-name>
    <url-pattern>/signupInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupCheckServlet</display-name>
    <servlet-name>SignupCheckServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.SignupCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupCheckServlet</servlet-name>
    <url-pattern>/SignupCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupInsertServlet</display-name>
    <servlet-name>SignupInsertServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.SignupInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupInsertServlet</servlet-name>
    <url-pattern>/SignupInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/QuitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoEditServlet</display-name>
    <servlet-name>UserInfoEditServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.UserInfoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoEditServlet</servlet-name>
    <url-pattern>/UserInfoEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoEditCheckServlet</display-name>
    <servlet-name>UserInfoEditCheckServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.UserInfoEditCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoEditCheckServlet</servlet-name>
    <url-pattern>/UserInfoEditCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoUpdateServelt</display-name>
    <servlet-name>UserInfoUpdateServelt</servlet-name>
    <servlet-class>inc.HIKARI.servlet.UserInfoUpdateServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoUpdateServelt</servlet-name>
    <url-pattern>/UserInfoUpdateServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserAllServlet</display-name>
    <servlet-name>AdminUserAllServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminUserAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAllServlet</servlet-name>
    <url-pattern>/AdminUserAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserUpdateServlet</display-name>
    <servlet-name>AdminUserUpdateServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminUserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserUpdateServlet</servlet-name>
    <url-pattern>/AdminUserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserDeleteServlet</display-name>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminUserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <url-pattern>/AdminUserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchasedServlet</display-name>
    <servlet-name>PurchasedServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.PurchasedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasedServlet</servlet-name>
    <url-pattern>/PurchasedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserSignupServlet</display-name>
    <servlet-name>AdminUserSignupServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminUserSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserSignupServlet</servlet-name>
    <url-pattern>/AdminUserSignupServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AddTaxServlet</display-name>
    <servlet-name>AddTaxServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AddTaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaxServlet</servlet-name>
    <url-pattern>/AddTaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBookStockServlet</display-name>
    <servlet-name>AdminBookStockServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminBookStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookStockServlet</servlet-name>
    <url-pattern>/AdminBookStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderListServlet</display-name>
    <servlet-name>AdminOrderListServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderListServlet</servlet-name>
    <url-pattern>/AdminOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBookAllServlet</display-name>
    <servlet-name>AdminBookAllServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.AdminBookAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookAllServlet</servlet-name>
    <url-pattern>/AdminBookAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchServlet</display-name>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>inc.HIKARI.servlet.BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/BookSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>